.container_for_posters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    margin-left: 3.3vw;
    width: 94vw;
    gap: 2vw;
}

/* Мобилки: 375px - 960px */
@media (max-width: 960px) {
    .container_for_posters {
        grid-template-columns: 1fr;
        margin-left: 2vw;
        width: 96vw;
        gap: 3vw;
    }
}

/* Планшеты: 960px - 1200px */
@media (min-width: 961px) and (max-width: 1200px) {
    .container_for_posters {
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5vw;
    }
}

/* Десктопы: от 1200px */
@media (min-width: 1201px) {
    .container_for_posters {
        grid-template-columns: repeat(3, 1fr);
        gap: 2vw;
    }
}