.event_image {
    overflow: hidden;
    width: 89.141vw;
    height:  45.641vw;
}

.event_image > img {
    width: 89.141vw;
    height:  45.641vw;

    object-fit: cover;
    object-position: center;
}

@media (max-width: 960px) {
    .event_image {
        height: 39vh;
        width: 100%;
    }

    .event_image > img {
        height: 39vh;
        width: 100%;
    }
}