.show {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

.hide {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.desktop_header_nav > ul {
    width: 91.111vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.desktop_header {
    background-color: #F0F0F0;
    height: 4.5vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    position: fixed;
    z-index: 3;
}

.header_link {
    text-decoration: none;
    font-size: 0.8rem;
    color: black;
    width: 14vw;
    height: 2.7vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: var(--primary-color);
    border-radius: 50vw;
    text-decoration: none;
    font-size: 0.8rem;
    width: 16.597vw;
    height: 2.7vw;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.primary_buttons {
    display: flex;
    width: 21.719vw;
    justify-content: space-between;
}

.search_button {
    background-image: url('/public/vector-icons/search-icon.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-color: var(--primary-color);
    width: 2.7vw;
    border: none;
    border-radius: 1.2vw;
    cursor: pointer;
}